.icon {
    background-color: #a975fe
}

.heading {
    color: #6d539d
}

.carouselButtons {
    background-Color: #fef7ff
}

.carousel {
    height: 240px;
    width: 800px;
    z-index: 2;
}

.carouselFirstContent {
    background-color: #f8f5fe
}

.carouselSecondContent {
    background: linear-gradient(30deg, #a7a4e9, #a4a0ea, #d7d5fd 85%)
}

.carouselContentText {
    color: #68558c;
}

.carouselContentButton {
    background: linear-gradient(to right, #fed96b, #efb355);
    color: #895e06;
}